
Lesson1/.vs/Lesson1/v16/.suo

Lesson1/.vs/Lesson1/v16/Browse.VC.db

*.tlog

*.log

*.vcxproj

*.filters

*.pdb

*.idb

*.ilk

*.db

*.user

*.exe

*.ipch

*.obj

*.recipe

Lesson3/Debug/Lesson3.vcxproj.FileListAbsolute.txt

Lesson2.1/.vs/Lesson2.1/v16/.suo

Lesson3/.vs/Lesson3/v16/.suo

*.txt

Lesson2.(2.3)/.vs/Lesson2.(2.3)/v16/.suo
